
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */